/.idea/
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_13_1_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
project/project/target/config-classes/$18a0e4d4a7299c0a801b$.class
project/project/target/config-classes/$18a0e4d4a7299c0a801b.cache
project/project/target/config-classes/$18a0e4d4a7299c0a801b.class
project/target/.sbt-compilation-infos/csc536_distributedsystem2-compile/.sbt-idea-lock
project/target/.sbt-compilation-infos/root-compile/.sbt-idea-lock
project/target/active.json
project/target/config-classes/$77ed54b2903a005de914$.class
project/target/config-classes/$77ed54b2903a005de914.cache
project/target/config-classes/$77ed54b2903a005de914.class
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/streams/_global/_global/_global/streams/out
project/target/streams/_global/_global/csrLogger/_global/streams/out
project/target/streams/_global/csrConfiguration/_global/streams/out
project/target/streams/_global/csrProject/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/streams/_global/ivyConfiguration/_global/streams/out
project/target/streams/_global/ivySbt/_global/streams/out
project/target/streams/_global/moduleSettings/_global/streams/out
project/target/streams/_global/projectDescriptors/_global/streams/out
project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/target/streams/_global/update/_global/streams/out
project/target/streams/compile/_global/_global/compileBinaryFileInputs/previous
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/compile/_global/_global/compileSourceFileInputs/previous
project/target/streams/compile/_global/_global/dependencyClasspathFiles/previous
project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/target/streams/compile/_global/_global/managedSourcePaths/previous
project/target/streams/compile/compile/_global/streams/out
project/target/streams/compile/compileIncremental/_global/streams/export
project/target/streams/compile/compileIncremental/_global/streams/out
project/target/streams/compile/copyResources/_global/streams/copy-resources
project/target/streams/compile/copyResources/_global/streams/out
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/target/streams/compile/unmanagedJars/_global/streams/export
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedJars/_global/streams/export
target/.history
target/scala-2.13/hwtokenring_snapshot_2.13-1.0.jar
target/scala-2.13/update/update_cache_2.13/inputs
target/scala-2.13/update/update_cache_2.13/output
target/streams/_global/_global/_global/streams/out
target/streams/_global/_global/checkBuildSources/_global/inputFileStamps/previous
target/streams/_global/_global/checkBuildSources/_global/streams/out
target/streams/_global/_global/csrLogger/_global/streams/out
target/streams/_global/_global/dumpStructure/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
target/streams/_global/update/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
target/streams/compile/_global/_global/compileBinaryFileInputs/previous
target/streams/compile/_global/_global/compileSourceFileInputs/previous
target/streams/compile/_global/_global/dependencyClasspathFiles/previous
target/streams/compile/_global/_global/managedSourcePaths/previous
target/streams/compile/compile/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/export
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/compileIncSetup/_global/streams/inc_compile_2.13.zip
target/streams/compile/copyResources/_global/streams/copy-resources
target/streams/compile/copyResources/_global/streams/out
target/streams/compile/dependencyClasspath/_global/streams/export
target/streams/compile/exportedProductJars/_global/streams/export
target/streams/compile/exportedProducts/_global/streams/export
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/internalDependencyClasspath/_global/streams/export
target/streams/compile/mainClass/_global/streams/out
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/packageBin/_global/streams/out
target/streams/compile/packageBin/_global/streams/output
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
target/streams/runtime/exportedProductJars/_global/streams/export
target/streams/runtime/externalDependencyClasspath/_global/streams/export
target/streams/runtime/fullClasspathAsJars/_global/streams/export
target/streams/runtime/internalDependencyAsJars/_global/streams/export
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/export
target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/test/managedClasspath/_global/streams/export
target/streams/test/unmanagedClasspath/_global/streams/export
target/streams/test/unmanagedJars/_global/streams/export
*.class
*.cache
*.jar
/target/scala-2.13/classes/META-INF/hw_tokenRing_Snapshot.kotlin_module
